*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

$color-blue: #28a5ff;
$color-white: #ffffff;
$color-white-gray: #f4f4f4;
$color-white: #ffffff;
$color-white-gray: #f4f4f4;
$color-gray: #bcbcbc;
$color-gray-dark: #eaeaea;

.Movie {
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 3rem;
  overflow: hidden;
}
.App {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__img:hover {
  cursor: pointer;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.search__input {
  background: $color-white-gray;
  font-size: 1.8rem;
  line-height: 2.3rem;
  width: 35rem;
  height: 5.6rem;
  left: 0rem;
  top: calc(50% - 56rem / 2);
  border: none;
  border-radius: 0.5rem;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 0.8rem;
  cursor: pointer;
  padding: 1.65rem 0;
  padding-left: 1.6rem;
  box-sizing: border-box;
  transition: all 0.2s;
}
.search__input:focus {
  border: 2px solid $color-blue;
  outline: none;
}
.search__input:hover {
  background: $color-gray-dark;
}

::placeholder {
  color: $color-gray;
}

::-webkit-input-placeholder {
  /* Edge */
  color: $color-gray;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $color-gray;
}

@media screen and (max-width: 900px) {
  .movieList {
    grid-template-columns: 1fr 1fr 1fr;

    .movie__img {
      height: 38vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .form {
    width: 90%;
    margin: 0 auto;

    input {
      width: 80%;
    }
  }
  .movieList {
    grid-template-columns: 1fr 1fr;

    .movie__img {
      height: 65vw;
    }
  }
}

@media screen and (max-width: 350px) {
  .movieList {
    grid-template-columns: 1fr;

    .movie__img {
      height: 122vw;
    }
  }
}
