*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

$color-blue: #28a5ff;
$color-white: #ffffff;
$color-white-gray: #f4f4f4;
$color-white: #ffffff;
$color-white-gray: #f4f4f4;
$color-gray: #bcbcbc;
$color-gray-dark: #eaeaea;

.movie__img:hover {
  cursor: pointer;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.Movie {
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 3rem;
  overflow: hidden;
}

.search__input:focus {
  border: 2px solid $color-blue;
  outline: none;
}
.search__input:hover {
  background: $color-gray-dark;
}

::placeholder {
  color: $color-gray;
}

::-webkit-input-placeholder {
  /* Edge */
  color: $color-gray;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $color-gray;
}

@media screen and (max-width: 900px) {
  .movieList {
    grid-template-columns: 1fr 1fr 1fr;

    .movie__img {
      height: 38vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .form {
    width: 90%;
    margin: 0 auto;

    input {
      width: 80%;
    }
  }
  .movieList {
    grid-template-columns: 1fr 1fr;

    .movie__img {
      height: 65vw;
    }
  }
}

@media screen and (max-width: 350px) {
  .movieList {
    grid-template-columns: 1fr;

    .movie__img {
      height: 122vw;
    }
  }
}
